* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DDC8C4;
    margin: 0px;
    padding: 0px;
    text-align: center;

} 
/* flower picture styling at top */
div.logo {
background-repeat: no-repeat;
overflow: auto;
opacity: 0.8;
border-radius: 100%;
}

 

/* styling of nav bar buttons */
.nav {
    font-size: 22px;
    
}

.intro {
    background-image: url(../images/Marble.JPG);
    opacity: 60%;
 }

.my-service {
    background-image: url(../images/Marble.JPG);
    opacity: 70%;
   
}


.about-me {
    background-image: url(../images/Marble.JPG);
    opacity: 80%;

    
}
.my-work {
   
    background-image: url(../images/Marble.JPG);
    opacity: 60%;
}

header {
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFE5d4;
}
nav {
    padding-top: 15px;
    margin: auto 20px;
    float: inline-start;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    
    
}
.nav__list {
        background-color:#896A67; 
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
        border-radius: 10px;
        
      }

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: justify;
    text-decoration: none;
    word-spacing: normal;
    
}


h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: justify;
    text-decoration: none;
}
div .services {
    text-align: right;
}
/* top of porfolio */


/* middle of portfolio */

