* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFE5D4;
    margin: 0px;
    padding: 0px;
   
}
/* styling for flower picture */
header {
    margin: 300px;
    padding: 275px;
    width: auto;
    height: auto;
    background-image: url(../images/Flowers.JPG);
    background-size: cover;
    border-radius: 25%;
    background-position: center;
    opacity: 80%;

}
.button .nav-toggle {
    display: inline-block;
}

section {
    width: 75%;
    height: 95vh;
    background-image: url("../images/Marble.JPG");
   background-repeat: no-repeat;
   background-size: contain;
   flex: auto;
}

/* Mid porfolio styling */


.nav ul li {
    display: inline-block;
    text-align: center;
}
.nav ul li a {
    justify-content: space-between;
    color: #273C2C;
    background-color: #FFE5D4;
    background-size: contain;
    display: inline-block;
    font-size: 15px;
}
.intro {
    background-image: url(../images/Marble.JPG);
    background-size: auto;
}
.my-service {
    margin: 200px;
    padding: 200px;
    height: auto;
    width: auto;
    background-size: cover;
    justify-content: left;
}
div.services {
    border: 8px solid;
    padding: 0; 
    width: 1000px;
    resize: both;
    overflow: auto;
    text-align: center;
    align-items: center;

  }
.services {
        justify-content: auto;
}
div.service {
        padding: 0px; 
        width: 400px;
        resize: both;
        overflow: auto;
        display: inline-block;
}
.about-me {
    background-image: url(../images/Marble.JPG);
    background-size: auto;
}

.my-work {
    background-image: url(../images/Marble.JPG);
    background-size: cover;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    word-spacing: normal;

}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 38px;
    text-align: justify;
    text-decoration: underline;
    word-spacing: normal;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    word-spacing: normal;
}


footer {
    margin-left: auto;
    background-color: #FFE5D4;
    background-size: auto;
    font-size: 35px;
    color:white;
}



