* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFE5D4;
    margin: 0px;
    padding: 0px;
   
}
/* styling for flower picture */
header {
    margin: 30px;
    padding: 200px;
    width: auto;
    height: auto;
    background-image: url(../images/Flowers.JPG);
    background-size: cover;
    border-radius: 38%;
    background-position: center;
    opacity: 80%;

}
.button .nav-toggle {
    display: inline-block;
}

section {
    width: 75%;
    height: 95vh;
    background-image: url("../images/Marble.JPG");
   background-repeat: no-repeat;
   background-size: contain;
   flex: c;
}

/* Mid porfolio styling */
.nav ul li {
    display: inline-block;
    text-align: center;
}
.nav ul li a {
    justify-content: space-between;
    color: #273C2C;
    background-color: #FFE5D4;
    background-size:auto
    

}

.intro {
    background-image: url(../images/Marble.JPG);
    background-size: cover;
}
.my-service {
    background-image: url(../images/Marble.JPG);
    background-size: cover;
}
.about-me {
    background-image: url(../images/Marble.JPG);
    background-size: cover;
}
.my-work {
    background-image: url(../images/Marble.JPG);
    background-size: cover;
}


h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    text-align: center;
    text-decoration: none;
    word-spacing: normal;

}
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    word-spacing: normal;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    text-align: left;
    text-decoration: none;
    word-spacing: normal;
}


